absl-py==2.1.0
appdirs==1.4.4
atomicwrites==1.4.0

dash==2.18.2
dash-bootstrap-components==1.7.1
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0

datasets==3.2.0
dill==0.3.6
dnspython==2.7.0
faiss-cpu==1.9.0.post1
flatbuffers==25.1.24
fsspec==2024.6.1
huggingface-hub==0.27.1
jax==0.5.0
jaxlib==0.5.0

lxml==5.2.1
matplotlib==3.9.2
mediapipe==0.10.21
mkl-service==2.4.0
ml_dtypes==0.5.1
multiprocess==0.70.14
opencv-contrib-python==4.11.0.86
opencv-python==4.11.0.86
opt_einsum==3.4.0
protobuf==4.25.3

pyls-spyder==0.4.0
pymongo==4.11
PyPDF2==3.0.1
PyQt5==5.15.10
PyQtWebEngine==5.15.6
pytest==7.4.3
python-dateutil==2.9.0
python-dotenv==1.0.0
pytz==2024.1
PyYAML==6.0.1

scikit-image==0.22.0
scikit-learn==1.5.1
scipy==1.13.1
seaborn==0.13.2
sentence-transformers==3.4.0
sentencepiece==0.2.0
setuptools==75.1.0
six==1.16.0
smart-open==7.0.4

torch==2.5.1
torchvision==0.20.1
tqdm==4.66.2
traitlets==5.14.2
transformers==4.48.1
urllib3==2.2.1
Werkzeug==3.0.2
wheel==0.44.0
widgetsnbextension==4.0.10
zipp==3.17.0
zope.interface==6.2
zstandard==0.21.0
